/*	Less Framework 4
	http://lessframework.com
	by Joni Korpi
	License: http://opensource.org/licenses/mit-license.php	*/


/*	Resets
	------	*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

a img {border: 0;}

button,
html input[type="button"], 
input[type="reset"], 
input[type="submit"] {
    cursor: pointer; /* 1 */
    -webkit-appearance: button; /* 2 */
}


/*	Typography presets
	------------------	*/

.gigantic {
	font-size: 110px;
	line-height: 120px;
	letter-spacing: -2px;
}

.huge, h1 {
	font-size: 68px;
	line-height: 72px;
	letter-spacing: -1px;
}

.large, h2 {
	font-size: 42px;
	line-height: 48px;
}

.bigger, h3 {
	font-size: 26px;
	line-height: 36px;
}

.big, h4 {
	font-size: 22px;
	line-height: 30px;
}

body {
	font: 16px/24px Georgia, serif;
}

.small, small {
	font-size: 13px;
	line-height: 18px;
}

/* Selection colours (easy to forget) */

::selection 	 	{background: rgb(255,255,158);}
::-moz-selection 	{background: rgb(255,255,158);}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: rgb(255,255,158);}

/* Button Preset */
.button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #ffffff;
	padding: 5px 8px;
	background: -moz-linear-gradient(
		top,
		#c2c2c2 0%,
		#7871a6);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#c2c2c2),
		to(#7871a6));
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #8a8a8a;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.5),
		0px 1px 0px rgba(255,255,255,0.3);
}

.button:hover {
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 5px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 5px rgba(255,255,255,1);
}

.text-input {
	background: rgb(235, 235, 235) !important;
	padding: 6px 13px !important;
	-webkit-border-radius: 15px;
	-moz-border-radius:    15px;
	border-radius:         15px;
	border: 0 !important;
	box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.7);
	outline: 0;
	width: 150px;
}

/*		Default Layout: 992px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

body {
	width: 896px;
	padding: 72px 0 84px;
	margin: 0 auto;
	background: rgb(255,255,255);
	color: rgb(60,60,60);
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}

#head, #content-wrapper {
	margin: 0 auto;
	width: 896px;
	position: relative;
}

	#head #logo {
	    text-indent: -9999px;
	    background-image: url(/assets/logo.jpg);
	    background-repeat: no-repeat;
	    width: 197px;
	    height: 130px;
	}

	#head #search {
		top: 4px;
		right: 48px;
		position: absolute;
	}

	#head #start-mission-quote {
		top: 80px;
		left: 274px;
		position: absolute;
		font-size: 61px;
		color: rgb(235, 235, 235);
	}

	#head #end-mission-quote {
		top: 109px;
		right: 10px;
		position: absolute;
		font-size: 61px;
		color: rgb(235, 235, 235);
	}

	#head #mission {
		top: 75px;
		left: 300px;
		width: 560px;
		position:absolute;
		font-family: 'Arapey', serif;
		font-weight: 400;
		font-style: italic;
		font-size: 16px;
		line-height: 16px;
	}

	#head nav {
		margin-top: 10px;
		margin-bottom: 10px;
		width: 896px;
		height: 42px;
		background-image: url(/assets/nav-bg.jpg) ;
		background-repeat: no-repeat;
	}

	#head li {
	    float: left;
	    list-style: none;
	    margin-left: 48px;
	}

	#head a {
	    font-size: 20px;
	    display: block;
	    padding: 11px 15px;
	    color: #fff;
	    text-decoration: none;
	    text-transform: uppercase;
	}

	#head a:hover, #head a:active {
	    text-decoration: none;
	    color: #3e3e3e;
	    border: 0 none;
	}
	
	#magic-line { 
		position: absolute; 
		bottom: -3px; 
		left: 0; 
		width: 100px; 
		height: 6px; 
		background: #7871A6; 
		margin-left: 0 !important;
		}

#content-wrapper {
	overflow: auto;
	height: 1%;
}

#mainContent {
	float: left;
}

aside {
	float: right;
	border: 1px solid rgb(235, 235, 235);
	width: 344px;

}

	aside h2 {
		padding-top: 10px;
		padding-left: 75px;
		font-size: 34px;
		font-weight: 400;
		font-family: 'Lato', sans-serif;
		background: rgb(235, 235, 235) no-repeat url(/assets/rss-icon.png) 8px center;
		color: #fff;
		height: 66px;
		text-transform: uppercase;
		text-shadow: 2px 2px 1px rgba(150, 150, 150, 0.91);
	}
	
	aside article {
		padding: 5px 10px;

	}
	
	aside article div.date {
		font-size: 16px;
		text-decoration: underline;
	}
	
	aside article div.story {
		padding: 5px 0;
		font-size: 12px;
		line-height: 1.2em;
	}

/* Home Page*/
#spinner {
	
	width: 533px;
	height: 400px;
	-moz-box-shadow: 3px 4px 7px rgba(50,50,50,0.42),
		inset 5px 5px 5px rgba(235,235,235, 1);
	-webkit-box-shadow: 3px 4px 7px rgba(50,50,50,0.42),
		inset 0px 0px 0px 5px rgba(235,235,235, 1);
	box-shadow: 3px 4px 7px rgba(50,50,50,0.42),
			inset 0px 0px 0px 5px rgba(235,235,235, 1);
	margin-bottom: 10px;
}

	#spinner img {
		z-index: -1;
		position: relative;
	}

#article-wrapper {
	border: 1px solid rgb(235, 235, 235);
	width: 533px;
}

	#article-wrapper h2 {
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		color: rgb(121, 120, 120);
		text-transform: uppercase;
		text-decoration: underline;
	}
	
	#article-wrapper .entry-content {
		padding: 0 10px;;
	}
	
	footer {
		/*border-top: 1px solid rgb(235,235,235);*/
		margin-top: 10px;
		font-size: 12px;
		background: rgb(235, 235, 235);
		padding: 0px 5px;
	}
	
	footer ul {
		width: 400px;
		overflow: hidden;
		height: 1%;
		/*background-image: url(/assets/nav-bg.jpg) ;*/
		/*background-repeat: no-repeat;*/
	}

		footer li {
		    float: left;
		    list-style: none;
		    margin-right: 5px;;
		}

		footer a {
		    display: block;
		    color: #fff;
		    text-decoration: none;
		    text-transform: uppercase;
		}

		footer a:hover, #head a:active {
		    text-decoration: none;
		    color: #3e3e3e;
		    border: 0 none;
		}	
		
		footer #copyright {
			font
		}

/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

/*
@media only screen and (min-width: 768px) and (max-width: 991px) {
	
	body {
		width: 712px;
		padding: 48px 28px 60px;
	}

}
*/


/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */
/*
@media only screen and (max-width: 767px) {
	
	body {
		width: 252px;
		padding: 48px 34px 60px;
	}
	
}
*/


/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */
/*
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	body {
		width: 436px;
		padding: 36px 22px 48px;
	}
	
}*/