<aside id="side-bar">
	<h2>Latest News</h2>
	<% aside.each do |item|%>
		<article>
			<div class="date"><%= item.updated_at.strftime("%m/%d/%Y") %></div>
			<div class="story">
				<%= raw truncate(item.content, :length => 250, :omission => "... #{link_to 'more', post_path(:id => item.slug) }", :separator => ' ' ) %>
			</div>
		</article>
	<% end %>
	<div class="widget-container" id="sharethis-widget">
		<%= render :partial => 'sharethis' %>		
	</div> 

</aside>