<nav>
	<ul id="nav">
		<% nav.each do |item| %>
			<li class="<%= active_page?(item.slug) ? 'current_page_item' : ''%>">
				<%= link_to item.title, content_path(:slug => item.slug) %>
			</li>
		<% end %>
		<li><a href="<%= message_path :id => :apply %>">Apply</a></li>
		<li><a href="<%= message_path :id => :contact %>">Contact</a></li>
	</ul>
</nav>